
  .card {
    width: 400px;
    overflow: hidden;
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.505);
    margin: 1rem;
    margin-left: 35%;
  
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    text-align: center;
    background-color: rgb(21, 21, 21);
    
  } 
  h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 12px 0;
    text-align: center;
    margin-top: ;
  } 
  h2{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 12px 0;
    text-align: center;
  }
  h3{
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 12px 0;
    text-align: center;
  }
  #edit{
    color: rgb(0, 0, 0);
  }
  #concert-link{
    font-size: 30px;
  }
  .top-card {
    width: 100%;
  }  
  .top-card img {
    width: 100%;
  }

  .search{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    align-items: center;

  }